body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    40px
}

.orange-color {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.experience-iteam {
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;


}

#border {
    border-left: 7px solid tomato;
}

#border2 {
    border-left: 7px solid blue;
}

.half-width img {
    width: 80%;
    margin-top: 10px;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400px;
    background: linear-gradient(orange, tomato);
}

.top-banner {
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;

}

footer p {
    text-align: center;
}

.pd {
    padding-left: 30px;
}